<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<insert id="insert" parameterType="MemberDto">
		INSERT INTO member VALUES(member_seq.NEXTVAL, #{member_name}, #{member_id}, #{member_password}, #{member_profile}, #{member_phone}, SYSDATE,'', #{member_nickname}, #{member_class}, #{member_email}, #{member_role},'','','1')
	</insert>
	
	<select id="idchk" parameterType="MemberDto" resultType="String">
		SELECT member_id FROM member WHERE member_id = #{member_id} AND member_role = #{member_role}
	</select>
	
	<select id="session" parameterType="MemberDto" resultType="MemberDto">
		SELECT member_no, member_name, member_id, member_profile, member_phone, member_date_create, member_date_update, member_nickname, member_class, member_email, member_role, member_withdraw, member_date_withdraw, member_enabled  FROM member WHERE member_id=#{member_id} AND member_role=#{member_role}
	</select>
	

</mapper>
